body{
    background-color: #111c3ef3;
}
.navbar_items{
    
  display: flex;
}
.navbar_items li{
  margin-right: 1.5cm;
  color :#5bc0be;
  float: right;
}
.Navbar{
  box-sizing: 1% 100% ;
  /*#0b132b; */
  background-color:#0B132B;
  display: flex;
}
.contact h1{
    text-decoration: underline;
    text-align: center;
    text-shadow: 1px 1px #ffffff;
    font-family: "Permanent Marker";
    font-size: 5rem;
    font-weight: 400;
}
.contact h2{
    color:aquamarine;
    justify-content: center;
    font-size: 2rem;
    margin:2cm;

}
/* footer for the contacts page */
 .fav_icon{
    padding: 1.5% ;
  }
  .footer {
    height: 4cm;
    background-color:#0B132B;
  }
  .footer_top a{
    margin-top: 2%;
    font-size: xx-large;
    margin-right: 3%;
    /* display : flex ; */
  }
  .footer_top {
    padding-top: 1%;
    justify-content: center;
    display: flex;
  }
  .footer_bottom {
    color:yellow;
    font-size: large;
    /* padding-bottom:1%; */
    flex-direction: column;
    text-align: center;
  }