body{
    background-color: #111c3ef3;
    margin: 0 auto;
    width: 100%;
}
h1 {
    text-decoration: underline;
    text-align: center;
    font-family: "Permanent Marker";
    font-size: 5rem;
    font-weight: 400;
}
/* header  */
.navbar_items{
    
    display: flex;
  }
  .navbar_items li{
    margin-right: 1.5cm;
    color :#5bc0be;
    float: right;
  }
  .Navbar{
    box-sizing: 1% 100% ;
    /*#0b132b; */
    background-color:#0B132B;
    display: flex;
  }
/* top project */
.emojipedia{
    display: flex;
    justify-content: center;
    margin-top: 5cm;
    gap: 2cm;
}
.emojipedia_description{
    justify-content: left;
    font-size: 2rem;
    color:aquamarine;

}
.emojipedia_ss img{
    border-radius: 10%;
}

/* netflix styling */
.Netflix-clone{
    display: flex;
    justify-content: center;
    margin-top: 5cm;
    gap: 2cm;
}

.netflix-chill img{
    border-radius: 10%;
}

.netflix-description{
    justify-content: right;
    font-size: 2rem;
    color:aquamarine;
}

/* dice game */
.Dice-game{
    display: flex;
    justify-content: center;
    margin-top: 5cm;
    gap: 2cm;
}
.dice-description{
    justify-content: left;
    font-size: 2rem;
    color:aquamarine;
}
.Dice-game-ss img{
    border-radius: 10%;
}

/* drum kit  */
.Drum-kit{
    display: flex;
    justify-content: center;
    margin-top: 5cm;
    gap: 2cm;
}
.drum-kit-ss img{
    border-radius: 10%;
}
.Drum-kit-decription{
    justify-content: right;
    font-size: 2rem;
    color:aquamarine;
}

/* voice assistant */
.Voice-assistant{
    display: flex;
    justify-content: center;
    margin-top: 5cm;
    margin-bottom: 5cm;
    gap: 2cm;
}
.Voice-assistant-description{
    justify-content: left;
    font-size: 2rem;
    color:aquamarine;
}
.Voice-assistant-ss img{
    border-radius: 10%;
}

/* styling of footer for projects page */
.fav_icon{
    padding: 1.5% ;
  }
  .footer {
    height: 4cm;
    background-color:#0B132B;
  }
  .footer_top a{
    margin-top: 2%;
    font-size: xx-large;
    margin-right: 3%;
    /* display : flex ; */
  }
  .footer_top {
    padding-top: 1%;
    justify-content: center;
    display: flex;
  }
  .footer_bottom {
    color:yellow;
    font-size: large;
    /* padding-bottom:1%; */
    flex-direction: column;
    text-align: center;
  }