body{
    background-color: #111c3ef3;
}
.navbar_items{
    
  display: flex;
}
.navbar_items li{
  margin-right: 1.5cm;
  color :#5bc0be;
  float: right;
}
.Navbar{
  box-sizing: 1% 100% ;
  /*#0b132b; */
  background-color:#0B132B;
  display: flex;
}
.about h1 {
    margin-top: 30px;
    margin-bottom: 50px;
    text-shadow: 1px 1px #ffffff;;
    text-decoration: underline;
    text-align: center;
    font-family: "Permanent Marker";
    font-size:5rem;
    font-weight: 400;
}
.about h2{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color:aquamarine;
    
}
.about p{
    color:aquamarine;
    font-weight:500;
    margin:80px;
    display: flex;
    justify-content: center;
    font-family: default;
    font-size: 1.5rem;
}

/* footer for about page  */
.fav_icon{
    padding: 1.5% ;
  }
  .footer {
    height: 4cm;
    background-color:#0B132B;
  }
  .footer_top a{
    margin-top: 2%;
    font-size: xx-large;
    margin-right: 3%;
    /* display : flex ; */
  }
  .footer_top {
    padding-top: 1%;
    justify-content: center;
    display: flex;
  }
  .footer_bottom {
    color:yellow;
    font-size: large;
    /* padding-bottom:1%; */
    flex-direction: column;
    text-align: center;
  }